@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: "Manrope", sans-serif;
    font-weight: normal !important;
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px !important;
    margin: 0 auto;
}
.reserved{
    position: relative;
}
.lorem {
    background-color: #ffffff;
}
.main {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.main ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.main ul li a{
    padding-right: 40px;
    margin-top: 5px;
    font-size: 16px;
    color:  #0A2640;
    text-decoration: none;
    font-weight: 600 !important;
}
 .services {
    text-align: center;
}
.side {
    width: 60%;
}
.tool {
    margin-bottom: 12px;
    font-size: 20px;
     color: #F1F1F1;
     padding-left: 327px;
     padding-top: 84px;
 }
 .agree {
    font-size: 48px;
    width: 970px;
    height: 144px;
    color: #FFFFFF;
    padding-left: 82px;
}

 .logo h1 {
    font-size: 2rem;
    font-weight: bold;
}

.template-info{
    padding-top: 120px;
}
.buttons {
    margin-top: 2rem;
}

.btn-primary {
    padding: 16px 56px;
    background-color: #0A2640;;
    color: white;
    font-size: 20px;
    border-radius: 55px;
    border: none;
}

.btn-secondary {
    background-color: transparent;
    border: 2px solid #0A2640;
    color: #0A2640;
    padding: 16px 56px;
    border-radius: 44px;
    margin-left: 24px;
}
 
.aline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  
    color: white;
}  
.bottom{
    width: 567px;
    height: 138px;
    font-size: 48px;
    color: #000000;
}
.description{
    font-size: 16px;
    width: 555px;
    height: 56px;
    font-weight: 400 !important;
    color: #777777;
}
.fline{
    display: flex;
    justify-content: space-between;
}
.font{
    position:absolute;
}
.cricle{
    position: relative;
    top: -78px;
    left: 16px;

}
.vector{
    position: relative;
    top: 38.58px;
    right: 27.9px;
}
.font{
    margin-left: 1px;
}
.class{
display: flex;
}
.login{
    border: 2px solid #0A2640;
    border-radius: 24px;
    height: 40px;
    width: 128px;
    font-size: 16px;
    font-weight: 800 !important;
    color: #0A2640;
    background-color: transparent;
}
.flex{
    padding-top: 56px;
    padding-left: 72px;
    padding-bottom: 10px;
}
.About{
    padding-left: 72px;

}
.aline{
    display: flex;
    justify-content: space-between;
}
.none{
    padding-top: 92px;
    padding-bottom: 74px;
}
.lorem::before{
    position: absolute;
    content: url(./img/bg-shap.png);
    top: 0px;
    right: 0;

}
.Return{
    position: relative;
}
.option {
    display: flex;
    justify-content: space-between;
    padding: 56px 0px;

}

.option-1 {
    color: #777777;
    font-size: 20px;
    padding-top: 12px;
}
.hr{
    width: 159px;
    color: #FFFFFF;
}
.backcolor{
    background-color: #0A2640;
}
.scott{
    color: #FFFFFF;
    padding-bottom: 28px;
    padding-top: 24px;
}
.space{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 800 !important;
    padding-right: 12px;
    padding-bottom: 8px;
}
.position{
    position: absolute;
}
.stay{
    position: relative;
    top: 191px;
    left: 142px;
}
.flexs{
    font-size: 20px;
    width: 493px;
    padding-top: 20px;
    padding-left: 24px;
}
.latest{
    padding-top: 90px;
}
.customers {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-left{
margin: 120px 70px;
}
.income{
    font-size: 36px;
    width: 493px;
    height: 164px;
    padding-top: 90px;
}
.atom{
    display: flex;
    align-items: center;
    
    padding-bottom: 24px;
}
.pb{
    padding-top: 25px;
}
.flex2{
    font-size: 20px;
    width:387px;
    height:37px;
    color: #000000;
    padding-left: 24px;
    padding-top: 10px;
}
.loginbt{
    border-radius: 64px;
    padding: 16px 56px;
    background-color: #0A2640;
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 72px;
}
.customer{
    font-size: 36px;
    width: 493px;
    height: 164px;
}
.margin{
    margin: 120px 0px 379px 0px;
}
.best{
    color: #FFFFFF;
}
.consumer{
    font-size: 16px;
}
.src{
    background-color: #0A2640;
    display: flex;
    padding: 16px 53px 16px 0px;
    width: 378px;
}
.Advisor{
    background-color: #FFFFFF;
    display: flex;
    padding: 16px 14px 16px 0px; 
    margin-top: 20px;
}
.ask{
    background-color: #FFFFFF;
    display: flex;
    padding: 16px 74px 16px 0px;
    margin-top: 20px;
}
.seed{
    padding: 0px 20px 0px;
}
.relative{
    padding-top: 64px;
    margin-top: -455px;
}
.contect{
    display: flex;
    justify-content: space-between;
}
.alt{
    margin-top: -70px;
}
.ramp{
    font-size: 48px;
    width: 716px;
    height: 139px;
    padding-bottom: 72px;
    color: #FFFFFF;
    margin-right: 233px;
}
.png img{
    width: 172px;
    height: 72px;
    margin-top: 75px;
}
.png{
  display: flex;
  padding-top: 100px;
}
.fix{
    display: flex;
    justify-content: center;
}

.group{
    background-color: #0A2640;
    height: 804px;
}
.logo{
    margin: 120px;
}
.our{
    font-size: 36px;
    width: 500px;
    height: 164px;
  
}
.best{
    display: flex;
}
.nav{
    width: 28px;
    height: 28px;
    margin-left: 50px;
}
.naveber{
    width: 28px;
    height: 28px; 
}
.href{
    font-size: 20px;
    width: 387px;
    height: 37px;
    padding-bottom: 16px;
    padding-top: 10px;
    color: #000000;
}
.linespace{
    width: 500px;
    color: #C4C4C4;
    margin-bottom: 32px;
}
.hrefs{
    width: 439px;
    height: 37px;
    font-size: 20px;
    color: #000000;
}
.bich{
    display: flex;
    padding-top: 56px;
}
.file {
    text-align: center;
    /* padding-top: 40px; */

}
.top-size {
    font-size: 20px;
}
.size {
    font-size: 56px;
    margin: 12px 0px 62px;
}
.style{
 display: flex;
 justify-content: space-between;       
}
.styles{
    padding-right: 50px;
}
.topflex{
 padding-top: 24px;
}

.pitch{
    font-weight: 600 !important;
    padding-right: 12px;
    color: #0A2640;
}
.focus{
    color: #777777;
}
.part{
    padding-top: 12px;
    font-size: 20px;
    width: 300px;
    height: 99px;
}
.bing{
    display: flex;
    align-items: center;
}
.round{
    padding-left: 12px;
    font-size: 16px;
    font-weight: 500 !important;
}
.contect1{
    justify-content: center;
    display: flex;
    margin-top: 96px;
}
.Load-more{
    border: 2px solid black;
    border-radius: 33px;
    height: 60px;
    width: 219px;
    background-color: white;
    font-weight: 600 !important;
    font-size: 20px;
    color: #0A2640;
}

/* .wrapper {
    position: relative;
    height: 10px;
    width: 20px;
}
.wrapper::before {
    position: absolute;
    content: url(./img/postion-img.png);
    top: 11px;
    left: -177px;

}
.template {

    text-align: center;
    background-color: #0A2640;
    color: white;
    border-radius: 10px;
    padding: 72px 0px;
    width: 100%;

}
.template span {
    position: relative;
} */
.template {

    text-align: center;
    background-color: #0A2640;
    color: white;
    height: 271px;
    border-radius: 10px;
    padding: 72px 0px;
    width: 100%;
    height: 370px;
    margin-top: 50px;
    position: relative;
}
.template::before {
    position: absolute;
    content: url(./img/postion-img.png);
    top: 0px;
    right: 0px;

}

.template span {
    position: relative;
}
.website {
    font-size: 48px;
    padding: 0px 40px 40px;
    width: 777px;
    margin: auto;
    height: 139px;
}
.radius1::placeholder{
    font-size: 18px;
    color: #000;
}
.radius1::placeholder {
    font-weight: 400 !important;
    font-size: 20px;
    color: #000;
}
.radius1 {
    border-radius: 70px;
    list-style: none;
    border: none;
    padding: 12px 113px 12px 31px;
    margin-right: 24px;
}
.radius2 {
    border-radius: 120px;
    width: 150px;
    height: 56px;
    background-color: #65E4A3;
    font-weight: 800 !important;
    border: none;
}
.aline-text{
    margin: 0px 60px 0px 20px;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    width: 1200px;
    height: 386px;

}
.Learninge {
    margin-left: 100px;
}
.width-p {
    width: 300px;
    height: 84px;
    margin: 40px 0px 64px;
}
.top {
    padding-top: 15px;
    margin-right: 100px;
}
.top ul li {
    list-style: none;
    padding-bottom: 32px;
}
.padding {
    padding-bottom: 32px;
    font-weight: 800 !important;
    font-size: 20px;
}
.weight {
    color: #777777;
    font-size: 18px;
  
}
.aline3{
    display: flex;
    padding-right: 20px;
 }
 .green-1{
    background-color: #65E4A3;
    color: #000;
    border-radius: 24px;
    font-size: 13px;
    height: 30px !important;
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800 !important;
    margin-left: 12px;
}
.deployment{
    display: flex;
}
.arrow{
    width: 24px;
    height: 26px;
}
.Explore{
    font-weight: 800 !important;
    font-size: 20px;
    color: #0A2640;
}
.img-flex{
    display: flex;
    justify-content: end;
    margin-bottom: 99px;
}
.partner{
    padding-bottom: 40px;
    color: #000000;
}
.manrope{
    background-color: #FFFFFF;
    border: 1px solid;
    width: 371px;
    padding: 50px;
    border-radius: 12px;
}
.isolate{
    background-color: #FFFFFF;
    border: 1px solid;
    width: 371px;
    padding: 50px;
    border-radius: 12px;
}
.buyers{
    background-color: #FFFFFF;
    border: 1px solid;
    width: 371px;
    padding: 50px;
    margin-bottom: -58px;
    border-radius: 12px;
}
.howarts{
display: flex;
}
.albus{
    padding-top: 10px;
    padding-left: 16px;
}
h4{
    padding-bottom: 6px;
    color: #0A2640;
    font-size: 16px;
}
.place{
    font-size: 24px;
    margin: 0;
}
.disruptive{
    font-size: 14px;
    color: #0A2640;
}
.dumbledore{
    font-size: 16px;
    color:#0A2640;
    font-weight: 600 !important;
    margin-bottom: 0;
}
.outline{
    display: flex;
    justify-content:space-between;
    margin-top: 70px;
}